<div>
  <span class="attendance-text-edit"><%= link_to "一ヶ月一括編集", month_edit_attendances_path, :style=>"color:#444444;" %></span>
</div>
<%= month_calendar(attribute: :arriving_at, end_attribute: :leaving_at, events: @attendances) do |date, attendances| %>
  <span class="date-str"><%= date.month %>/<%= date.day %></span>
  <div class="row">
  </div>
  
  <% attendances.each do |attendance| %>
    <div>
      <div>
        <span class="attendance-text-label">出社</span>
        <span class="attendance-time-label"><%= attendance.arriving_at.to_s(:time) %></span>
      </div>
      <% if attendance.leaving_at.present? %>
        <div>
          <span class="attendance-text-label">退社</span>
          <span class="attendance-time-label"><%= attendance.leaving_at.to_s(:time) %></span>
        </div>
        <div>
          <span class="attendance-text-label">在社時間</span>
          <span class="attendance-time-label"><%= (Time.parse("1/1") + (attendance.leaving_at - attendance.arriving_at)).strftime("%H.%M")%></span>
        </div>
        <!-- モーダルウィンドウを呼び出すボタン -->
        <!--<br><button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">Noteを表示</button>
        <!-- モーダルウィンドウの中身 -->
        <!--<div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Note</h4>
              </div>
              <div class="modal-body"><%= attendance.note %></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        <!--</div>--->
      <!--<%= link_to "削除する", attendance_path(attendance), method: :delete, data: {confirm: "出勤/退勤の時刻を、本当に削除しますか？"}, class: "btn btn-link" %>--->
      <!--<% end %>
     <% end %>
  <!---<%= link_to "編集", new_attendance_path, class: 'btn btn-default btn-block' %>--->
      <div class="modal-flex">
      <% if Date.today == date %>
        <% unless @attendances.where(arriving_at: date.beginning_of_day...date.end_of_day).present? %>
          <%= form_for @arriving_attendance do |f| %>
            <div class="field">
              <%= f.hidden_field :arriving_at, value: DateTime.current %>
            </div>
            
            <div class="actions">
              <%= f.submit  "出社", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
        <% if @attendances.where(arriving_at: date.beginning_of_day...date.end_of_day).present? %>
          <%= form_tag("/attendances/1", method: "put") do %>
            <div class="field">
              <%= hidden_field_tag :leaving_at, value: DateTime.current %>
            </div>
            <div class="actions">
              <%= submit_tag("退社", class: "btn btn-primary") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>